<h1>ToDoBone Homepage</h1>

<p>This is ToDoBone! Throw your productivity a bone with ToDoBone!</p>

<form id="new-entry">
  <input type='text' name='name' id='new_entry_name'>
  <input type='submit' value='Add!'>
</form>

<!-- With this commented out the EntriesIndex loses its mind -->
<ul>
  <% _.each(entries.models, function(entry) {%>
    <!-- <li><%#= entry.get('name') %></li> -->
  <%# }) %>
<!-- </ul> -->

<div id='entries'></div>